.tecnologias-bg {
  background-color: var(--cor-11);
  color: var(--cor-0);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
  margin-bottom: 100px;
}

.tecnologias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.tecnologias-div {
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologias-div::after {
  content: "";
  display: inline-block;
  background-image: url(/img/dec/bottom-left.svg);
  width: 52px;
  height: 52px;
  position: relative;
  top: 60px;
  left: -60px;
}

.tecnologias-div a {
  padding: 2px;
}

.tecnologias-div a::after {
  display: block;
  content: "";
  width: 261px;
  height: 4px;
  background-color: currentColor;
}

.tecnologias-div a:hover {
  color: var(--cor-0);
}

.tecnologias-h2 {
  margin-bottom: 32px;
}

.tecnologias p {
  margin-bottom: 20px;
}

.tecnologias-modelos {
  display: flex;
  padding-top: 20px;
  gap: 40px;
  flex-direction: row;
}

.tecnologias-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 800px) {
  .tecnologias-modelos {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .tecnologias {
    grid-template-columns: 1fr;
  }
  .tecnologias-div {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologias-img {
    display: none;
  }
  .tecnologias-bg {
    box-shadow: none;
  }

  .tecnologias-modelos {
    gap: 20px;
  }

  .tecnologias-div a {
    display: inline-block;
    margin-bottom: 20px;
  }
}
