.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px;
  padding-bottom: 64px;
  padding-top: 62px;
}

.vantagens h3 {
  font-weight: 600;
}

.vantagens h2 {
  padding-bottom: 32px;
  grid-column: 1/-1;
}

.vantagens-item {
  display: grid;
  gap: 12px;
  place-content: start;
}

@media (max-width: 800px) {
  .vantagens {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .vantagens {
    grid-template-columns: 1fr;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 24px;
  }

  .vantagens h2 {
    padding-bottom: 16px;
  }
}
